.iconsButton{
  transition: all 0.3s !important;
}
.iconsButton:hover{

    background-color: rgba(161, 35, 35, 0.158) !important;
    box-shadow: 0px 10px 10px #0000004b ;
}

.TodoCard{

  transition: all 0.2s !important;
}

.TodoCard:hover{
  box-shadow: 0px 10px 10px #0000004b ;
}

@media (max-width: 300px) {
  .iconsButton-text {
    font-size: 3px !important;
  }
}

/* Custom Fonts */

@font-face {
  font-family: Handmade;
  src: url("../public/Fonts/Zain-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Handmade;
  src: url("../public/Fonts/Zain-Regular.ttf");
  font-weight: normal;
}





/* === Custom Fonts === */